---
---

@import "{{ site.theme }}";

#a-title{text-decoration:none;}
header h1:before{content: "root@localhost:~ # whoami\A";white-space:pre;}
header h1{margin:0;}
button .answer {padding:5px;margin-bottom:10px;border:1px solid #000;}